{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "alanbraz@br.ibm.com",
      "Space": "dev"
    },
    "Name": "agile-intro-inf330-2016",
    "Instrumentation": {
      "host": "agile-intro-inf330-2016",
      "domain": "mybluemix.net"
    }
  },
  "Path": "manifest.yml",
  "Type": "Cloud Foundry"
}